/* parte generale ---------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix{
  display: table;
  content: "";
  clear: both;
}
section{
  background: lightblue;
  margin-top: 30px;
}
img{
  box-shadow: 10px 10px;

}
/* section left 1 row --------------------------*/

h2{
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}
h3{
  padding-bottom: 20px;
}
p{
  text-align: center;
  margin: auto;
}
.dove-left,
.dove-right{
  float: left;
  padding: 20px;
  width: 100%;
  text-align: center;
  min-height: 400px;

}
.dove-left img{
  width: 123px;
  margin-bottom: 20px;
}
.dove-right img{
  width: 170px;
  margin-bottom: 20px;
  margin-top: 18px;}
/* section right 1 row ---------------------------*/
.come-left,
.come-right,
.come-central{
  padding: 20px;
  width: 100%;
  text-align: center;
  min-height: 400px;
}
.come-left img{
  width: 130px;
  margin-bottom: 20px;
  text-align: center;
}
.come-right img{
  width: 130px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50%;
}
.come-central img{
  width: 130px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50%;
}
/* section left 2 row */
.perche-title{
  width: 100%;
  margin-bottom: 20px;
}
.perche-title h2{
  background: lightblue;
  border-radius: 50%;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px;
}
.perche-left,
.perche-right,
.perche-central{
  padding: 20px;
  width: 100%;
}
.perche-left img{
  width: 150px;
  margin-bottom: 20px;
  background: lightgreen;
  border-radius: 50%;
  padding: 20px;
}
.perche-right img{
  width: 150px;
  margin-bottom: 22px;
  background: lightgreen;
  border-radius: 50%;
  padding: 20px;
}
.perche-central img{
  width: 150px;
  margin-bottom: 22px;
  background: lightgreen;
  border-radius: 50%;
  padding: 20px;
}
.perche-left,
.perche-central,
.perche-right{
  background: lightblue;
  min-height: 350px;
  margin-bottom: 30px;
  text-align: center;
  min-height: 400px;
}
/* versione mobile */
@media screen and (max-width:768px){

  h2{
    font-size: 35px;
  }
  h3{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
}
  /* versione tablet */
@media screen and (min-width:769px) and (max-width:992px){

  h2{
    font-size: 30px;
  }
  h3{
    font-size: 25px;
  }
  p{
    font-size: 20px;
    margin: 0 20px;
  }
  .perche-left,
  .perche-central,
  .perche-right{
    background: lightblue;
    min-height: 350px;
    margin-bottom: 0px;
    text-align: center;
    min-height: 430px;
  }

}
    /* versione mobile */
@media screen and (min-width:993px){

  h2{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 15px;
  }
}
